$white: #fff;
$primary: #111;
$border: #e1e1e1;

.auth-wrapper {
    width: 100%;
    height: 100vh;
    background: #FAFBFD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: row;

    .auth-left-container {
        width: 50%;
        height: 100%;
        padding: 1rem;
        object-fit: contain;
        object-position: center;

        img{
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    }

    .auth-right-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .auth-header {
            display: flex;
            justify-content: center;
            gap: 12px;
            width: 100%;
            margin-bottom: 2rem;

            .toggle {
                width: 100%;
                max-width: 260px;
                padding: 6px;
                display: flex;
                gap: 2rem;
                cursor: pointer;
                transition: all 0.25s ease;

                span {
                    flex: 1;
                    text-align: center;
                    padding: 6px 0;
                    font-size: 14px;
                    user-select: none;
                    opacity: 0.45;
                    font-weight: 500;
                    border-bottom: 2px solid transparent;
                    transition: 0.25s ease;
                }

                /* ACTIVE TAB */
                span.active {
                    opacity: 1;
                    color: #111;
                    border-bottom: 1px solid #111;
                }
            }
        }

        .auth-card {
            width: 100%;
            height: 400px;
            max-width: 400px;
            border-radius: 6px;
            overflow: hidden;
        }


        /* ----------------------------------
   BODY (Switch Only)
-----------------------------------*/
        .auth-body {
            padding: 22px 24px;
            height: 100%;
        }

        .auth-form {
            width: 100%;

            h2 {
                text-align: center;
                margin-bottom: 40px;
                font-weight: 600;
                font-size: 20px;

            }

            .input-container {
                margin-bottom: 14px;

                label {
                    font-size: 14px;
                    margin-bottom: 6px;
                    display: block;
                }

                input {
                    width: 100%;
                    padding: 10px;
                    border: 1px solid $border;
                    border-radius: 6px;
                    font-size: 0.9rem;

                    &::placeholder{
                        font-size: 0.8rem;
                        color: #bfbfbf;
                    }
                }
            }

            .button-ui {
                width: 100%;
                padding: 12px;
                background: $primary;
                color: $white;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                font-size: 15px;
                margin-top: 10px;
            }
        }
    }
}
